choicerouter216/src/main/mule/choicerouter216.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="ea051eb8-b4a4-459c-ab39-08edc85a9350" >
		<file:connection workingDir="C:\choice roter\inbound" />
	</file:config>
	<file:config name="pdffiles" doc:name="File Config" doc:id="0a88e878-d34d-4835-9eb2-b6b1b65a02fd" >
		<file:connection workingDir="C:\choice roter\outbond\pdf files" />
	</file:config>
	<file:config name="wordfiles" doc:name="File Config" doc:id="e535c182-bc89-4194-8861-5d34ec973478" >
		<file:connection workingDir="C:\choice roter\outbond\word files" />
	</file:config>
	<file:config name="otherfiles" doc:name="File Config" doc:id="9c9760dc-5f7f-4ea1-8ed0-b13709d8f215" >
		<file:connection workingDir="C:\choice roter\outbond\other files" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="4d7191fc-9f9e-47ab-935a-3d673e55c8e5" >
		<file:connection workingDir="C:\choice roter\outbond\pdf files" />
	</file:config>
	<file:config name="File_Config2" doc:name="File Config" doc:id="37e8356d-9138-4de6-a83a-e9a95916bb31" >
		<file:connection workingDir="C:\choice roter\outbond\word files" />
	</file:config>
	<file:config name="File_Config3" doc:name="File Config" doc:id="b57ab69e-4922-4d67-8d29-ac36bd51d683" >
		<file:connection workingDir="C:\choice roter\outbond\pdf files" />
	</file:config>
	<file:config name="File_Config4" doc:name="File Config" doc:id="b71ea0d2-1063-4047-8ba1-ab77b09fb80c" >
		<file:connection workingDir="C:\choice roter\outbond\word files" />
	</file:config>
	<file:config name="File_Config5" doc:name="File Config" doc:id="d465d611-b4d1-4e22-848a-ec3ba2a21479" >
		<file:connection workingDir="C:\choice roter\outbond\other files" />
	</file:config>
	<flow name="choicerouter216Flow" doc:id="de1ede33-3659-4297-922c-df08abb1dc9d" >
		<file:listener doc:name="On New or Updated File" doc:id="22706a23-eab0-400c-8026-ea76a696a788" config-ref="File_Config" directory="C:\choice roter\inbound" recursive="false" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<choice doc:name="Choice" doc:id="044ca4d9-8e8f-4ad3-8c53-32ccd9d300c9" >
			<when expression="#[endswith(attributes.fileName,'pdf')]">
				<file:write doc:name="pdffiles" doc:id="a7d0331d-1980-46a0-bc54-c7bf2401b139" config-ref="File_Config3" path="#[attributes.fileName]"/>
			</when>
			<when expression="#[endswith(attributes.fileName,'doc')]">
				<file:write doc:name="wordfiles" doc:id="e3574ab3-6b09-4f53-9a06-b8c09492ab31" config-ref="File_Config4" path="#[attributes.fileName]"/>
			</when>
			<otherwise >
				<file:write doc:name="otherfiles" doc:id="089bdc88-0798-47ca-9ffd-4f751d531c2f" config-ref="File_Config5" path="#[attributes.fileName]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="14e96fbc-7b1f-47e0-a613-c4b7ce466fbd" />
	</flow>
</mule>
